body{
	background-color: #141414;
	background-image: url(../img/main-bg.jpg);
	/*background-image: url(../img/barbershop-index.jpg);*/
	background-repeat: no-repeat;
	background-position: top center;
}

.main-header{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 70px;
	margin-bottom: 57px;

	background-color: #000000;
}



.container{
	width: 940px;
	margin: 0 auto;
}

.main-navigation {
	float:left;

	width: 720px;
	
	font-size: 0px;
	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	text-transform: uppercase;

	
}
.main-navigation ul{
	margin: 0;
	padding: 0;

}

.main-navigation li{
	display: inline-block;

	list-style-type: none;
}

.main-navigation a{
	position: relative;

	display: block;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 25px 20px;

	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
}
.main-navigation a:hover{
	background-color: #242424;
}

.active-link::after{
	position: absolute;
	bottom: 0;
	left: 0;
	
	display: block;
	content: "";
	
	width: 50px;
	height: 3px;
	background-color: #ffffff;
}

.user-block{
	float:right;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 107px;
	margin-right: 25px;
	
	text-align: right;

	
	
}

.login{
	position: relative;

	display: block;
	padding: 25px 20px;

	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;

}
.login::before{
	position: absolute;
	content: "";
	left: 22px;
	top: 50%;
	transform: translateY(-50%);

	display: block;
	width: 18px;
	height: 16px;
	
	background-image: url(../img/icon-login.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.3;

}
.login:hover{
	background-color: #242424;
}

.login:hover::before{
	opacity: 1;
}

.index-logo{
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 24px;

}

.features{
	margin-bottom: 65px;
}

.features::after{
	content: "";
	display: table;
	clear: both;
}

.features-item{
	float: left;

	width: 300px;
	min-height: 180px;

	text-align: center;
}

.features-item:nth-child(1),.features-item:nth-child(2) {
	margin-right: 20px;
}

.features-name{
	position: relative;

	display: block;
	margin-bottom: 73px;

	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	font-size: 30px;
	color: #f7f4f1;
	text-transform: uppercase;
}

.features-name::after{
	position: absolute;
	left: 50%;
	bottom: -50px;
	
	transform-origin: left;
	transform: rotate(45deg) translateX(-50%);

	display: block;
	width: 20px;
	height: 20px;

	background-color: #f7f4f1;
	content:"";
}
.features-item p{
	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #f7f4f1;
	text-transform: uppercase;
}

.index-content{
	min-width: 430px;
	padding-top: 50px;
	padding-bottom: 55px;
	margin-bottom: 34px;

	background-color: #ffffff;
	background: url(../img/index-content-bg-stick.png) no-repeat center center, url(../img/index-content-bg.png);

	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

.index-content::after{
	display: table;
	content: "";
	clear: both;
}

.index-content-left{
	float:left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 380px;
	min-height: 320px;
	margin-right: 100px;
	margin-left: 80px;

}

.index-content-right{
	float:left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	min-height: 320px;

}

.index-content-title{
	margin: 0;
	margin-bottom: 27px;

	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #000000;
}

.news-preview{
	margin: 0;
	margin-bottom: 34px;
	padding: 0;
}

.news-preview li{
	margin-bottom: 30px;

	list-style-type: none;
}

.news-preview p{
	margin: 0;
	margin-bottom: 1px;
}

.news-preview time{
	font-family: "PTSansNarrowRegular", "Arial", sans-serif;
	font-size: 14px;
	color: #000000;
	text-transform: none;
}

.btn{
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 140px;
	height: 43px;
	padding: 10px 0;

	background-color: #000000;
	cursor: pointer;

	text-decoration: none;
	text-align: center;
	line-height: 24px;
	font-family: "PTSansNarrowBold", "Arial", sans-serif;
	font-size: 14px;
	vertical-align: top;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.btn:not(:last-child){
	margin-right:16px;
}
.gallery{
	
}
.gallery-content{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 300px;
	height: 180px;
	padding: 7px;
	margin: 0;
	margin-bottom: 37px;

	background-color: #ffffff;
}

.gallery-prev{

}

.gallery-next{

}
















@font-face {
    font-family: "PTSansNarrowRegular";
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot");
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}